<{if $addmessage}>
	<{includeq file='db:system_common_form.html' form=$addmessage}>
<{else}>
<table>
	<tr>
		<th>
			<h1><{$message_title}></h1>
		</th>
	</tr>
	<tr>
		<td class="even">
			<{$message_actions}>
		</td>
	</tr>
	<tr>
		<td class="odd">
			<{'_CO_IMMESSAGE_MESSAGE_FROM'|trans:[]:'common'}>: <b><{$message_from}></b><br />
			<{'_CO_IMMESSAGE_MESSAGE_TO'|trans:[]:'common'}>: <b><{$message_to}></b><br />
			<{'_CO_IMMESSAGE_MESSAGE_SUBJECT'|trans:[]:'common'}>: <b><{$message_subject}></b><br />
			<{'_CO_IMMESSAGE_MESSAGE_DATE'|trans:[]:'common'}>: <b><{$message_modification_date}></b>
		</td>
	</tr>
	<tr>
		<td style='padding-top:5px;padding-bottom:5px;'>
			<{$message_content}>
		</td>
	</tr>
	<tr>
		<td class="even">
			<{$message_actions}>
		</td>
	</tr>
</table>
<{/if}>

